doctype html
html(lang="zh")
  head
    title="Dash board"
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css')
    link(rel='stylesheet', href='/styles/common.css')
    link(rel="shortcut icon" href="images/fav.png")
  body
    .ui.form
      .field
        label Title
        input#title_input(type="text" placeholder="title")
      .field
        label Content
        textarea#content_input.ui(name="content")(placeholder="Content")
      .field
        label Tag
        input#tag_input(type="text")
        

    button.ui.button#post_btn Post
    //- script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js")
    script(src="js/manage.js")
  